//General colors
$body-bg:#eee;
$link-color:#226;
$link-color-focus:#000;
$link-color-shadow:#000;

//Documentation colors


//Screen colors


//Terminal colors
$terminal-bg:#001;
$terminal-color:#05bb05;
$terminal-label-color:#e05007;
$terminal-caret-color:#05bb05;