/************************
* RESET CSS
************************/
*{margin:0;padding:0;box-sizing:border-box;}
table{border-collapse:collapse;border-spacing:0}
img{border:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
abbr,acronym{border:0;font-variant:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{font-size:100%}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}

audio:not([controls]){display:none;height:0;}

/**************************************
* Default style and other properties
**************************************/
html, body{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 100%;
	width: 100%;
	height: 100%;
	background-color: $body-bg;
	vertical-align: baseline;
	overflow-y: hidden;
}

body {
	overflow-y: auto;
}

h1, h2, h3, h4, h5, h6{font-weight: bold;}

a{
	color:$link-color;
	&:active, &:visited{
		color:$link-color;
		text-decoration:underline;
		transition:.3s;
	}
}
a:hover, a:focus{color:$link-color-focus;}
a:focus{outline:thin dotted;}
a.current{text-shadow:0px 0px 5px $link-color-shadow;}

.visible{z-index:10;opacity:1;}
.hidden{z-index:-1;opacity:0;}

.mapper{width:100%;height:100%;position:relative;}
.mapper.centered{position:absolute;top:50%;left:50%;height:0;width:0;}
.mapper.origin{position:absolute;top:0;left:0;}
.mapper.tabler{display:table;}
.mapper.celler{display:table-cell;vertical-align:middle;text-align:center;}
.mapper.cropper{overflow:hidden;}

.transition.s0-1{transition:.1s}
.transition.s0-3{transition:.3s}
.transition.s0-4{transition:.4s}
.transition.s0-5{transition:.5s}
.transition.s0-6{transition:.6s}
.transition.s0-75{transition:.75s}
.transition.s0-8{transition:.8s}
.transition.s1{transition:1s}
.transition.s1-5{transition:1.5s}
.transition.s2{transition:2s}
.transition.s2-5{transition:2.5s}
.transition.s3{transition:3s}