/*
* CSS style file for "Kraken API WebSockets fun"
* © 2020 Pierre Lebedel
*/

@import "colors";
@import "default";

/******************************
* Propriétés communes
*******************************/

.grid-container {
	display: grid;
	grid-template-columns: 42% 58%;
	grid-gap: 0rem;
	grid-auto-flow: row;
	grid-auto-rows: minmax(17em, 50%);
	min-width: 500px;

	h2{
		font-size:1.2rem;
	}

	pre, .pre{
		font-family: "monospace", serif;
		font-size: 0.9em;
		display: inline-block;
		white-space: pre;
		background: rgba(255, 255, 255, .1);
	}
}

.documentation-container{
	grid-column: 1 / 2;
	grid-row: 1;
	padding: 0.5rem 0.5rem 0.25rem;

	p {
		margin: 0.6em 0;
		.pre {
			display: inline;
			white-space: normal;
		}
	}
}

.screen-container{
	grid-column: 1;
	grid-row: 2;

	padding: 0.25rem 0.5rem 0.5rem;
	max-height: 100%;
	width: 100%;

	pre {
		white-space: nowrap;
		display: block;
		font-size: 0.82em;
		cursor: pointer;
		text-overflow: ellipsis;
		overflow-x: hidden;

		&.open{
			white-space: pre;
		}
	}

	.result-server{
		color: $result-server-color;
	}
	.result-client{
		color: $terminal-label-color;
	}
}


.terminal-container{
	grid-column: 2;
	grid-row: 1 / 3;
	overflow-y: auto;
	background: $terminal-bg;
	color: $terminal-color;
	font-family: "JetBrains Mono", "Cascadia Code", "Lucida Console", "monospace", serif;

	a{
		text-decoration: underline;
		color: inherit;

		&:focus, &:hover{
			text-shadow: 0 0 0.1em $terminal-color;
		}
	}

	pre{
		display: block;
	}

	.text-container, .form-command{
		display: inline-block;
		width: 100%;
		padding: 0.05rem 0.35rem;
	}

	.text-container{
		p{
			&::before{
				content: '>';
				display: inline-block;
				padding-right: 0.2rem;
			}
		}
	}
	.form-command{
		label{
			span {
				color: $terminal-label-color;
			}
		}

		.terminal-input{
			font-family: inherit;
			color: inherit;
			background: inherit;
			border: none;
			outline: none;
			caret-color: $terminal-caret-color;
			width: 50%;

			&:focus{
				outline: none;
			}
		}
	}
}