@charset "UTF-8";
/*
* CSS style file for "Kraken API WebSockets fun"
* © 2020 Pierre Lebedel
*/
/************************
* RESET CSS
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  font-size: 100%; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

audio:not([controls]) {
  display: none;
  height: 0; }

/**************************************
* Default style and other properties
**************************************/
html, body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  width: 100%;
  height: 100%;
  background-color: #eee;
  vertical-align: baseline;
  overflow-y: hidden; }

body {
  overflow-y: scroll;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a {
  color: #000; }
  a:active, a:visited {
    color: #000;
    text-decoration: underline;
    transition: .3s; }

a:hover, a:focus {
  color: #226; }

a:focus {
  outline: thin dotted; }

a.current {
  text-shadow: 0px 0px 5px #226; }

.visible {
  z-index: 10;
  opacity: 1; }

.hidden {
  z-index: -1;
  opacity: 0; }

.mapper {
  width: 100%;
  height: 100%;
  position: relative; }

.mapper.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0; }

.mapper.origin {
  position: absolute;
  top: 0;
  left: 0; }

.mapper.tabler {
  display: table; }

.mapper.celler {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.mapper.cropper {
  overflow: hidden; }

.transition.s0-1 {
  transition: .1s; }

.transition.s0-3 {
  transition: .3s; }

.transition.s0-4 {
  transition: .4s; }

.transition.s0-5 {
  transition: .5s; }

.transition.s0-6 {
  transition: .6s; }

.transition.s0-75 {
  transition: .75s; }

.transition.s0-8 {
  transition: .8s; }

.transition.s1 {
  transition: 1s; }

.transition.s1-5 {
  transition: 1.5s; }

.transition.s2 {
  transition: 2s; }

.transition.s2-5 {
  transition: 2.5s; }

.transition.s3 {
  transition: 3s; }

/******************************
* Propriétés communes
*******************************/
.grid-container {
  display: grid;
  grid-template-columns: 42% 58%;
  grid-gap: 0rem;
  grid-auto-flow: row;
  grid-auto-rows: minmax(17em, 50%);
  min-width: 500px; }
  .grid-container h2 {
    font-size: 1.2rem; }
  .grid-container pre, .grid-container .pre {
    font-family: "monospace", serif;
    font-size: 0.9em;
    display: inline-block;
    white-space: pre;
    background: rgba(255, 255, 255, 0.1); }

.documentation-container {
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 0.5rem 0.5rem 0.25rem; }
  .documentation-container p {
    margin: 0.6em 0; }
    .documentation-container p .pre {
      display: inline;
      white-space: normal; }

.screen-container {
  grid-column: 1;
  grid-row: 2;
  padding: 0.25rem 0.5rem 0.5rem;
  max-height: 100%;
  width: 100%; }
  .screen-container pre {
    white-space: nowrap;
    display: block;
    font-size: 0.82em;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow-x: hidden; }
    .screen-container pre.open {
      white-space: pre; }
  .screen-container .result-server {
    color: #191919; }
  .screen-container .result-client {
    color: #e05007; }

.terminal-container {
  grid-column: 2;
  grid-row: 1 / 3;
  overflow-y: auto;
  background: #001;
  color: #05bb05;
  font-family: "JetBrains Mono", "Cascadia Code", "Lucida Console", "monospace", serif; }
  .terminal-container a {
    text-decoration: underline;
    color: inherit; }
    .terminal-container a:focus, .terminal-container a:hover {
      text-shadow: 0 0 0.1em #05bb05; }
  .terminal-container pre {
    display: block; }
  .terminal-container .text-container, .terminal-container .form-command {
    display: inline-block;
    width: 100%;
    padding: 0.05rem 0.35rem; }
  .terminal-container .text-container p::before {
    content: '>';
    display: inline-block;
    padding-right: 0.2rem; }
  .terminal-container .form-command label span {
    color: #e05007; }
  .terminal-container .form-command .terminal-input {
    font-family: inherit;
    color: inherit;
    background: inherit;
    border: none;
    outline: none;
    caret-color: #05bb05;
    width: 50%; }
    .terminal-container .form-command .terminal-input:focus {
      outline: none; }
